// Font
$font-family: 'Poppins', sans-serif;

// Colors
$white: #fef;
$black: #444;
$yellow: #fdfd66;

// Crystal background
%crystal-background {
    background: rgba(255, 255, 255, 0.09);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1.5px);
    -webkit-backdrop-filter: blur(1.9px);
}